*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(https://picsum.photos/1200/800/?blur);
    background-size: cover;
}   
.box{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;    
}

.login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 28.8rem;
    min-width: 26.4rem;
    height: 50vh;
    /* display: none; */
    margin: auto;
}

.signup-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 28.8rem;
    min-width: 26.4rem;
    height: 60vh;
    display: none;
}


form{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
     max-width: 24rem;
     min-width: 22rem;
}

 h2{
    font-size:2em;
    margin:2vh;
}

form > .inputs{
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
     max-width: 24rem;
     min-width: 22rem;
}

form > .inputs > input{
    border-style: none none solid none;
    width: 20vw;
    height: 5vh;
    background: transparent;
    position: relative;
    padding: 2px; 
     max-width: 24rem;
     min-width: 22rem;   
}

form > .inputs > input:focus::placeholder
{
   visibility: hidden;
}
form > .inputs > input::placeholder
{
   font-size:1.2em;
   color:white;
}

form > .inputs > input:focus{
    outline: none ;
}


form > button {
    width: 20vw;
    height: 5vh;
    border: none;
    color:brown;
    background-color: white;
    border-radius:50px;
     max-width: 24rem;
     min-width: 22rem;
}

form > button:hover {
    border: none;
    color:white;
    background-color: rgba(0, 0, 0, 0.374);
    border-radius:50px;
}
